.editor_cont{
    flex-grow: 1;
    flex-basis: 0;
    padding:10px;
    .editor_header{
        background-color:rgb(15, 24, 34);
        border-radius:10px 10px 0 0 ;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        color:white;
        font-size:1.3rem;
        font-family: Poppins;
        padding: 5px 20px 3px 30px;
        
        text-transform: uppercase;

        .img_cont{
            img{
                width:20px;
                height:20px;
                
            }
        }
    }
}
@media (max-width: 400px) {
 
}