.chats_view .navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 10fr;
      grid-template-columns: 0.5fr 10fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
}

.chats_view .navbar .logo {
  display: inline;
  margin: 10px;
}

.chats_view .navbar .links {
  cursor: pointer;
  /* width: 100%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5%;
  text-align: right;
}

.chats_view .navbar .links .link {
  color: rgba(0, 0, 0, 0.755);
}

.chats_view .navbar .links .code {
  color: #f8423c;
  font-size: 20px;
  margin: 10px;
  padding-right: 3%;
}

.chats_view .navbar .links .signOut {
  margin: 13px;
}

.loading_pic {
  width: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading_pic img {
  width: 200px;
}

.loading_pic h1 {
  color: white;
  text-transform: capitalize;
  letter-spacing: 5px;
  font-weight: bolder;
}
