.code_view {
  background-color: #191a1b;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.864)), to(rgba(0, 0, 0, 0.605))), url(../../assets/wheat.png);
  background: linear-gradient(rgba(0, 0, 0, 0.864), rgba(0, 0, 0, 0.605)), url(../../assets/wheat.png);
  height: 100vh;
}

.code_view .section {
  height: 50vh;
}

.code_view .sec-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.code_view .backToChat a {
  text-decoration: none;
  color: white;
  background-color: #0f1822;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 7px;
  border: 3px solid white;
  border-radius: 20px 20px 0px 20px;
  position: fixed;
  top: calc(100vh - 60px);
  right: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.code_view .backToChat a:hover {
  color: #0f1822;
  background-color: white;
  border: 3px solid #0f1822;
}

@media (max-width: 600px) {
  .code_view .code_view {
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(#252932)) !important;
    background: linear-gradient(black, #252932) !important;
    background-image: none;
  }
  .code_view .section {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .code_view .sec-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .code_view .backToChat a {
    position: absolute !important;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    right: 0;
    left: 0;
    top: 200%;
    text-align: center;
    margin-bottom: 20px;
  }
  .code_view iframe {
    margin-top: 40px;
    height: 350px;
  }
}
