@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  background-color: #222831;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .login_view {
  overflow: hidden;
  height: 100vh;
}

body .logo {
  width: 41.5px;
  height: 39px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 3px;
  border: solid 0.5px #707070;
  background-color: #ec615b;
  font-family: Poppins;
  color: #f2f2f2;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}

body .main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .col_1 .header_cont {
  width: 100%;
}

body .main .col_1 .header_cont .graphic {
  width: 90px;
  margin-left: 31px;
}

body .main .col_1 .header_cont .header {
  color: #dddddd;
  font-family: Dubai;
  font-size: 40px;
  margin-top: -50px;
  margin-left: 90px;
}

body .main .col_1 .header_cont .header .one {
  font-size: 50px;
  font-weight: bold;
}

body .main .col_1 .header_cont .header .line-2 {
  margin-top: -20px;
}

body .main .col_1 .secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 90px;
}

body .main .col_1 .secondary .sec_text {
  width: 300px;
  color: grey;
  font-family: Poppins;
  font-size: 20px;
  margin-left: 20px;
}

body .main .col_2 img {
  width: 600px;
}

body .login {
  width: 389px;
  height: 47px;
  padding: 10px 133px 9px 36px;
  -webkit-box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.28);
          box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.28);
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: 110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #ec615b;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body .login:hover {
  background-color: #ec615b;
  color: #eeeeee;
}

body .login .google {
  width: 90px;
  position: absolute;
  right: 10px;
  bottom: -20px;
}

body marquee {
  font-size: 400px;
  height: 350px;
  position: absolute;
  z-index: -50;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Poppins;
  font-size: 325px;
  font-weight: 500;
  text-align: left;
  color: #eeeeee07;
  margin-top: -100px;
}

@media (max-width: 768px) {
  body body {
    text-align: center;
  }
  body .main {
    display: block;
    margin-top: 80px;
    text-align: center;
  }
  body .main .graphic {
    display: none;
  }
  body marquee {
    display: none;
  }
  body .col_2 img {
    width: 100px;
    margin-top: -80px;
  }
  body .graphic {
    position: absolute;
  }
  body .one {
    text-align: center;
    font-size: 1rem;
  }
  body .secondary .sec_text {
    display: none;
  }
  body .secondary svg {
    display: none;
  }
  body .header {
    margin: 0;
  }
  body .login {
    bottom: 50px;
  }
}
